@import "tailwindcss";

/* 1. Load the typography plugin */
@plugin "@tailwindcss/typography";

/* 2. (Optional) Customize the prose colors for your dark theme */
/* @theme {
  --color-prose-body: var(--color-gray-300);
  --color-prose-headings: var(--color-white);
  --color-prose-links: var(--color-emerald-400);
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
